header div:first-child{
    padding : 4%;
    background : blue;
    width : 35%;
    float : left;
}

header div:nth-child(2){
    padding : 4%;
    background : green;
    width : 35%;
    float : left;
}

/*header div:nth-child(3){
    padding : 4%;
    background : red;
    width : 30%;
    float : left;
}*/

.clear{
    clear :both;
}

nav{
    background : red;
    padding : 2%;
}

a{
    background-color : yellow;
}

ul li:first-child{
    width : 10%;
    padding : 0%;
    float : left;
    font-size : 20px;
}

ul li:nth-child(2){
    width : 10%;
    padding : 0%;
    float : left;
    font-size : 20px;
}

ul li:nth-child(3){
    width : 10%;
    padding : 0%;;
    float : left;
    font-size : 20px;
}

ul li:nth-child(4){
    width : 10%;
    padding : 0%;
    float : left;
    font-size : 20px;
}

header section:first-child{
    width : 20%;
    background-color : blue;
    padding : 0%;
}

header section:nth-child(2){
    width : 60%;
    background-color : green;
    padding : 0%;
}
