header div:first-child{
    width : 99%;
    height : 15%;
    background-color : red;
    margin-left : 10px;
    display : flex;
}

header div:nth-child(2){
    width : 30%;
    background-color : green;
    height : 50%;
    margin : 40px;
    display : flex;
    margin-top : 50px;
    margin-left : 10px;
 clear :both;
}

header div:nth-child(3){
    width : 30%;
    background-color : yellow;
    height : 50%;
 margin-top : -396px;
 display : flex;
 float : right;
 margin-right : 10px;
}

header div:nth-child(4){
    width : 99%;
    height : 20%;
    background-color : blue;
    display : flex;
    margin : 10px;
}

#i{
    border : 2px solid black;
}