@media screen and (max-width : 500px){
    body{
        background-color : green;
        font-size : 10px;
    }
}

#hd{
    width : 99%;
    height : 5%;
    background-color : rgb(91, 88, 88);
}

#container{
    width : 99%;
    height : 10%;
    background-color : rgb(12, 12, 12);
    display : flex;
}

#menu_01{
    width : 8%;
    height : 75%;
    background-color : rgb(40, 37, 37);
    display : flex;
    position : relative;
    border-radius : 15%;
    top : 10%;
    left : 10%;
    color : white;
    justify-content : center;
    font-size : 200%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu_01:hover{
    background-color : rgb(84, 82, 82);
    color :rgb(150, 145, 145);
}

#menu_02{
    width : 8%;
    height : 75%;
    background-color : rgb(40, 37, 37);
        justify-content : center;
            color : white;
    font-size : 200%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius : 15%;
    display : flex;
    position : relative;
    top : 10%;
    left : 25%;
}

#menu_02:hover{
       background-color : rgb(84, 82, 82);
         color :rgb(150, 145, 145);
}

#menu_03{
    width : 8%;
    height : 75%;
    background-color : rgb(40, 37, 37);
        justify-content : center;
            color : white;
    font-size : 200%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display : flex;
    position : relative;
      border-radius : 15%;
    top : 10%;
    left : 40%;
}

#menu_03:hover{
        background-color : rgb(84, 82, 82);
          color :rgb(150, 145, 145);
}

#menu_04{
    width : 8%;
    height : 75%;
    background-color : white;
        border-radius : 15%;
            background-color : rgb(40, 37, 37);
                justify-content : center;
                    color : white;
    font-size : 200%;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display : flex;
    position : relative;
    top : 10%;
    left : 55%;
}

#menu_04:hover{
       background-color : rgb(84, 82, 82);
         color :rgb(150, 145, 145);
}

#left_bar{
    width : 50%;
    height : 75%;
    background-color : rgb(105, 105, 147);
    float : left;
}

#right_bar{
    width : 49%;
    height : 75%;
    background-color : rgb(150, 141, 142);
    float : left;
}

#foot{
    width : 99%;
    height : 10%;
    background-color : purple;
    float : left;
    justify-content : center;
    display : flex;
}

#media_01{
    width : 60px;
    height :60px;
    background-color : green;
    border-radius : 100%;
    position : relative;
    top : 8%;
        border : 2px solid white;
}

#ig_01{
        max-width : 60px;
        max-height : 60px;
        border-radius : 100%;
}


#media_02{
    width : 60px;
    height :60px;
    background-color : green;
    border-radius : 100%;
    position : relative;
      border : 2px solid white;
    top : 8%;
        margin-left : 10px;
}

#media_03{
    width : 60px;
    height :60px;
    background-color : green;
    border-radius : 100%;
    position : relative;
      border : 2px solid white;
    top : 8%;
        margin-left : 10px;
}

#media_04{
    width : 60px;
    height :60px;
    background-color : green;
    border-radius : 100%;
    position : relative;
    top : 8%;
      border : 2px solid white;
        margin-left : 10px;
}

#media_01:hover{
    border : 3px solid black;
}

#media_02:hover{
    border : 3px solid black;
}

#media_03:hover{
    border : 3px solid black;
}

#media_04:hover{
    border : 3px solid black;
}